.header {
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 2%;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    background-color: rgb(45, 45, 45);
}

.header button {
    background: none;
    border: none;
    cursor: pointer;
}

.back {
    width: 50px;
    max-width: 50px;
    height: 50px;
}

.back img {
    width: 100%;
}

.header h1 {
    width: 80%;
}

.create {
    width: 10%;
    color: #629924;
}

.list {
    width: 100%;
    padding: 20px;
}

thead {
    background-color: #615f5f;
}

.subject {
    width: 60%;
}

tr {
    transition: all 0.3s ease-in-out;
}

tr:hover {
    background-color: rgb(60, 60, 60);
}

.count {
    width: 10%;
}

tbody a {
    height: 100%;
    width: 100%;    
    color: rgb(42, 128, 194);
}

tbody td {
    padding: 15px;
}

tbody tr:nth-child(even) {
    background-color: rgb(34, 34, 34);
}

@media (max-width: 700px) {
    .header {
        flex: 50px 100% 100%; /* каждый элемент занимает 100% ширины */
    }
    .create {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 530px) {
    
    tr th:nth-child(2), tr th:nth-child(3) {
        display: none;
    }
    tr td:nth-child(2), tr td:nth-child(3) {
        display: none;
    }
}