* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(20, 20, 20);
	color: rgb(205, 205, 205);
	padding: 0;
	font-family: Arial, sans-serif;
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
}

button, input[type="submit"] {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #fff;
}

header {
	width: 100%;
	max-height: 70px;

	background-color: #2b3034;
	color: #fff;
	display: inline-flex;
}

header a {
	transition: 0.5s;
}

header a:hover {
	color: rgb(0, 145, 255);
}

.container {
	max-width: 1500px;
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-and-button {
	width: 300px;
	height: 100%;
	display: flex;
}

.logo {
	height: 80%;
	margin-top: 5px;
	margin-right: 50px;
}

.logo img {
	height: 100%;
}

.open-close-bar {
	width: 50px;
	height: 50px;
	border: none;
	background: none;
	display: none;
}

.open-close-bar img {
	width: 50px;
	height: 50px;
}

.close-bar {
	position: absolute;
	right: 0;
	top: 0;

	display: none;

	width: 50px;
	height: 50px;

	border: none;
	background: none;
}

.close-bar img {
	width: 100%;
}

nav {
	position: relative;
	padding: 20px;
	width: 100%;
	display: inline-flex;
	transition-duration: 1s;

}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav ul{
	width: 100%;
}

.sign-in-out {
	color: rgb(0, 145, 255);
	text-align: right;
}

.sign-in-out:hover {
	color: #fff;
}

button {
	cursor: pointer;
}

.preloader-wrapper {
	position: fixed;
    width: 100vw;
    height: 100vh;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgba(20, 20, 20, 1);

}

.preloader-hide {
	animation: hide-preloader 0.7s linear;
    opacity: 0;
}

.spinner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-top: 5px solid rgb(0, 145, 255);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes hide-preloader {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 100%;
		background-color: rgba(0, 0, 0, 0);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 910px) {

	.open-close-bar, .open-close-bar, .close-bar {
		display: block;
	}

	.logo {
		margin-bottom: 10px;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		z-index: 1000;

		width: 80%;
		height: 100%;

				font-size: 30px;

		color: white;
		background-color: rgba(20, 20, 20, 0.9);
		text-align: left;
	}

	nav ul {
		flex-direction: column;
	}

	nav li {
		margin: 0;
		padding: 10px 0;
	}
}